
body {
    background-color: cornflowerblue;
}

#EnterVariables {
    background: #33a;
    box-shadow: 20px 20px 20px 10px rgba(0,0, 0, 0.5);
    color: white;
    font-weight: bold;
    font-style: italic;
    font-family: cursive; 
    font-size: 30px;
    margin: center;
    border: 10px solid;
    padding: 3em;
    text-align: center;

}

.tittle {
    color:white;
    background-color:blueviolet;
    font-size: 35px;
    font-family: Courier New;
    font-style: italic;
    font-weight: bold 40px;
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 2px solid #000;
    border-radius: 15px;
    margin-top: 0;
    margin-left: 4px;
    margin-right: 4px;
    margin: center;
    justify-content: center;
}

.paragraph {
    font: size 30px;
    margin: center;
    width: 80%;
}

.caption {
    front-family:'Fredoka One'; cursive; 
}

.variables {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    margin-top: 20px;
    font-size: 20px;

}

.enter-the-variable {
    width: 30px;
    height: 30px;
    background: #11468F;
    box-sizing: border-box;
    border-radius: 40px;
    justify-self: unset;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 30px;
    font-family: Georgia;
    margin-top: 10px;
}